*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;}
html{
	font-family: 'Open Sans', sans-serif;}

body{
	font-family: 'Open Sans',sans-serif;}

nav{
	border-bottom: 1px solid gray;
	position: sticky;
	top: 0;
	background:white;
	padding-bottom: 10px;
}

nav ul li{
		list-style-type: none;}

.nav-logo{ 
	padding-top:40px;
	padding-left:10% ;
	height: 28.77px;
	width: auto;
}

.right-nav{
	padding-left: 40%;
	font-size: 20px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	}

.right-nav li{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	display: inline;

	}
.tuitt-button{
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 30px}

#bg-image{
	position: relative;
	background-position: center;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
 	height: 60vh;
 	opacity:1;
 }
 .front-bg{
 	background: black;
 	opacity: 0.65;
 	height: 60vh;}
		
.front-bg{
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: right;
}

.container{
	padding left:50%;}

.title{
	font-family: 'Zilla Slab', sans-serif;
	padding-left: 55%;
	font-size: 50px;
	color: white;}

.subtitle{
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 70%;
	padding-right: 0;
	font-size: 20px;
	margin: 0.5rem;
	color: white;}

.apply-button{
	background-color: #c2195b;
	color: white;
	font-size: 1rem;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 40px}

.title-2{
	font-family: 'Zilla Slab', sans-serif;
	text-align: center;
	padding: 100px;}

.intro-description{
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 10%;
	padding-bottom: 10%;}

.pre-footer{
	text-align: center;
	padding: 2rem;
	background-color: #f7fbfb;}

.prefooter-description{
	padding-left:15% ;
	padding-right: 15%;
	padding-bottom: 10px;}

	.book-button{
	background-color: #336589;
	color: white;
	font-size: 1rem;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 40px}

footer{
	padding:  0.7rem;
	text-align: center;}
footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;}